<!-- <div id="home-header" class="jumbotron">
  <greeting name="home.name"></greeting>
</div>

<button class="btn btn-primary" ng-click="home.changeName()">Change</button>
<button class="btn btn-danger" ng-click="home.randomName()">Random</button> -->


<div class="jumbotron">
  <h1>Hello, {{home.name}}</h1>
</div>
<div class="row row-grid">
  <div class="col-sm-6">col-sm-left</div>
  <div class="col-sm-6">col-sm-right</div>
</div>
<button class="btn btn-primary" ng-click="home.changeName()">Change</button>

